<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" href="/static/css/style.css" />
    </head>
    <body>
        <h1>This is my home page</h1>
        served from HBS Templating Engine
        <img src="/static/images/pic.jpg" alt="" />
    </body>
</html>